apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-end-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front-end
  template:
    metadata:
      labels:
        app: front-end
    spec:
      imagePullSecrets:
        - name: gitlab-regcred
      containers:
        - name: front-end
          image: registry.gitlab.com/javidmm.006/front-end:latest
          ports:
            - containerPort: 80